* {
  box-sizing: border-box;
}

:root {
  --primary: rgb(64, 55, 84);
  --secondary: rgb(177, 160, 253);
  --tertiary: rgb(24, 2, 43);
  --dark: rgb(0, 0, 0);
  --light: rgb(255, 255, 255);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--primary);
  background-color: var(--light);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  padding: 20px 7px 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: right;
  background-color: var(--tertiary);
}

header h1 {
  color: var(--tertiary);
  background-color: var(--secondary);
  padding: 10px 20px 5px 20px;
  margin: 0;
  font-size: 40px;
  line-height: .8;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  padding: 10px 7.5px;
  color: var(--secondary);
  margin-right: 15px;
  background-image: linear-gradient(var(--secondary) 0%, var(--secondary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 3.5px;
  background-position: bottom;
  font-size: 20px;
}

nav a:hover {
  background-size: 100% 100%;
  color: var(--primary);
}

main {
  margin-top: 20px;
  margin-bottom: 45px;
}

.banner {
  background: var(--secondary);
  background-image: url("./Assets/E045049B-658E-4114-B2DF-B8020F9ABE24.jpeg"), linear-gradient(180deg, var(--secondary) 0%, var(--primary) 100%);
  background-size: cover;
  background-position: center;
  background-blend-mode: hard-light;
  min-height: 200px;
  color: var(--light);
  padding: 10px 20px;
  display: flex;
}

.page-wrapper {
  max-width: 88%;
  margin: auto;
}

.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.page-section > h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid var(--primary);
  font-size: 35px;
  line-height: 1.1;
}

.page-section > div {
  flex: 0 0 75%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  border: 7.5px solid rgb(219, 205, 255); 
  background-color: var(--primary);
  color: var(--tertiary);
  min-height: 150px;
  max-height: 200px;
  flex-basis: 45%;
  display: flex;
  align-items: flex-end;
  padding: 2px 0 12px 0;
  margin: 3.5px;
  background-blend-mode: hard-light;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 35px;
}

.flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.flex-item:hover {
  background-color: var(--tertiary);
}

.flex-item div {
  background-color: var(--secondary);
  padding: 8px 10px;
}

.flex-item h3 {
  font-size: 40px;
}

.contact address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contact section a {
  color: var(--tertiary);
  padding: 5px;
  text-decoration: underline;
  font-weight: bold;
  font-size: 35px;
  font-style:italic;
  color: var(--primary);
  background-size: 100% 0.2em;
  background-position: bottom;
  margin: 0 10px 5px 0;
  display: inline-block;
}

.contact section a:hover {
  background-size: 100% 88%;
  color: var(--secondary);
}

.nothing {
  background-image: url("../images/02-portfolio-5.jpg");
}

.next {
  background-image: url("../images/02-portfolio-1.jpg");
}

.empty {
  background-image: url("../images/02-portfolio-2.jpg");
}

.blank {
  background-image: url("../images/02-portfolio-3.jpg");
}

.website {
  background-image: url("./Assets/9F06ECF8-8B88-4FC8-BD3E-CAF433E16AE1_1_201_a.jpeg");
}


@media screen and (max-width: 980px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 50px;
  }

  header nav {
    justify-content: center;
  }

  .page-section > h2,
  .page-section > div {
    flex: 0 0 100%;
  }

  .page-section > h2 {
    border-right: none;
    border-bottom: 4px solid var(--dark);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 25px;
  }
}

@media screen and (max-width: 768px) {
  .flex-item,
  .flex-item:first-child {
    flex-basis: 100%;
  }

  .flex-item:first-child {
    min-height: 150px;
  }

  .banner {
    justify-content: center;
    text-align: center;
  }

  .contact address {
    flex-direction: column;
    align-items: flex-start;
  }
}